.Rproj.user
.Rhistory
.RData
.Ruserdata

*.jpg


_targets
data/liam_test_data/BOUTIN_Kluane_image_report.csv
data/liam_test_data/GPS_XYZ_Data_AllYears(Aug22_2018) _Master_use_this_version (1).xlsx
data/liam_test_data/GPS_XYZ_Data_StartingMay2018(Aug22_2018) _Master_use_this_version_May22_2019.xlsx
